* {
    padding: 0;
    margin: 0;
}
#ospan{width:84px;position:relative;float:left;}
#check {
    width: 76px;
    height: 30px;
    border: 2px solid #5bc0de;
    overflow: hidden;
    line-height: 28px;
    padding-left:10px;
    cursor: pointer;
    background: #ddd;
    position:relative;
    z-index:3;
}
span{font-size:13px;display:inline-block;height:13px;position:absolute;right:16px;top:9px;z-index:3}
#jau{width:76px;height:200px;border:1px solid #000;position:absolute; overflow:hidden;display: none;z-index:5;border-radius:5px;}
#cityList {
    list-style: none;
    width: 90px;
    background: cornsilk;
    position:absolute;
}
#cityList li {
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    border-bottom: 1px solid transparent;
    width: 90px;
    cursor: pointer;
}
#cityList .activties {
    border-bottom-color: rgba(10, 7, 8, 0.6);
    height: 35px;
    background: #ddd;
    transition: all 1s;
}
.scroll{ position:absolute; width:18px; height:50px; background:#ccc; top:0; right:0;}