<ion-view>
    <ion-header-bar class="icon-right">
        <h3 class="title">附近餐馆</h3>
        <button class="button button-icon button-clear button-energized">
            <i class="icon ion-ios-location-outline"></i>
        </button>
    </ion-header-bar>
    <ion-content class="has-header">
        <div class="card card4">
            <ion-item class="item-avatar-left" style="text-align: left;">
                <img src="images/50.jpg">
                <h3>很高兴遇见你（海岸城店）</h3>
                <p>创意菜</p>
            </ion-item>

            <div class="shangshow">
                <div class="neishow">
                    <img src="images/50.jpg">
                    <p>地址：文心五路海岸城购物中心五层540号铺</p>
                    <p>电话：0755-86359273 4008003657 </p>
                </div>
            </div>
        </div>
        <div class="card card4">
            <ion-item class="item-avatar-left" style="text-align: left;">
                <img src="images/51.jpg">
                <h3>绿茶餐厅(海岸城店)</h3>
                <p>江浙菜</p>
            </ion-item>
            <div class="shangshow">
                <div class="neishow">
                    <img src="images/51.jpg">
                    <p>地址：文心五路33号海岸城广场5楼(地铁后海站：D/E出口) </p>
                    <p>电话：0755-26711177 0755-82831577 </p>
                </div>
            </div>
        </div>
        <div class="card card4">
            <ion-item class="item-avatar-left" style="text-align: left;">
                <img src="images/52.jpg">
                <h3>稻香酒家(海岸城分店) </h3>
                <p>粤菜</p>
            </ion-item>

            <div class="shangshow">
                <div class="neishow">
                    <img src="images/52.jpg">
                    <p>地址：文心五路33号海岸城购物中心五层501-9号(近保利广场) </p>
                    <p>电话：0755-86359766 </p>
                </div>
            </div>
        </div>
        <div class="card card4">
            <ion-item class="item-avatar-left" style="text-align: left;">
                <img src="images/53.jpg">
                <h3>云海肴云南菜(海岸城店) </h3>
                <p>云贵菜</p>
            </ion-item>
            <div class="shangshow">
                <div class="neishow">
                    <img src="images/53.jpg">
                    <p>地址：文心四路海岸城广场5层</p>
                    <p>电话：4000727000 </p>
                </div>
            </div>
        </div>
        <div class="card card4">
            <ion-item class="item-avatar-left" style="text-align: left;">
                <img src="images/54.jpg">
                <h3>壹間茶餐厅(海岸城店)</h3>
                <p>茶餐厅</p>
            </ion-item>
            <div class="shangshow">
                <div class="neishow">
                    <img src="images/54.jpg">
                    <p>地址：文心四路海岸城广场5层</p>
                    <p>电话：4000727000 </p>
                </div>
            </div>
        </div>
        <div class="card card4">
            <ion-item class="item-avatar-left" style="text-align: left;">
                <img src="images/55.jpg">
                <h3>太兴餐厅(海岸城店)</h3>
                <p>茶餐厅</p>
            </ion-item>
            <div class="shangshow">
                <div class="neishow">
                    <img src="images/55.jpg">
                    <p>地址：文心五路33号海岸城购物广场516号铺</p>
                    <p>电话：0755-86359730 0755-86359732 </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>