<ion-view view-title="圈圈">
    <ion-header-bar>
        <h3 class="title">美食圈</h3>
        <a class="button button-clear"><i class="icon ion-ios-chatbubble-outline energized"></i></a>
    </ion-header-bar>
    <ion-content>
        <ion-slide-box does-continue="true" auto-play="true" slide-interval="3000" id="talkside_img">
            <ion-slide>
                <div class="box"><img src="images/30.jpg"></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/31.jpg"></div>
            </ion-slide>
        </ion-slide-box>
        <div class="card card5">
            <div class="row">
                <a class="col" ui-sref="tabs.detail">
                    <img src="images/3.jpg">三分时刻
                </a>
                <a class="col" ui-sref="tabs.detail">
                    <img src="images/7.jpg">食色
                </a>
                <a class="col" ui-sref="tabs.detail">
                    <img src="images/8.jpg">玖号厨房
                </a>
                <a class="col" ui-sref="tabs.detail">
                    <img src="images/6.jpg">烘焙坊
                </a>
            </div>
        </div>
        <div class="card card3">
            <ion-list>
                <ion-item class="item-avatar-left">
                    <img src="images/14.jpg">
                    <h3>小小的满足</h3>
                    <p>今天</p>
                </ion-item>
                <div class="talkList">
                    <div class="detailList">
                        <h5>早餐就要用时短，营养丰富</h5>
                        <img src="images/14.jpg">
                        <h5 class="float1">来自<i>爱心早餐</i></h5>
                    </div>
                </div>
            </ion-list>
        </div>
        <div class="card card3">
            <ion-list>
                <ion-item class="item-avatar-left">
                    <img src="images/13.jpg">
                    <h3>百分百的好</h3>
                    <p>今天</p>
                </ion-item>
                <div class="talkList">
                    <div class="detailList">
                        <h5>广式经典美食</h5>
                        <img src="images/13.jpg">
                        <h5 class="float1">来自<i>美食杂谈</i></h5>
                    </div>
                </div>
            </ion-list>
        </div>
        <div class="card card3">
            <ion-list>
                <ion-item class="item-avatar-left">
                    <img src="images/15.jpg">
                    <h3>许多心愿</h3>
                    <p>昨天</p>
                </ion-item>
                <div class="talkList">
                    <div class="detailList">
                        <h5>最爱的午后美食</h5>
                        <img src="images/15.jpg">
                        <h5 class="float1">来自<i>英伦菜谱</i></h5>
                    </div>
                </div>
            </ion-list>
        </div>
        <div class="card card3">
            <ion-list>
                <ion-item class="item-avatar-left">
                    <img src="images/9.jpg">
                    <h3>张小汪</h3>
                    <p>昨天</p>
                </ion-item>
                <div class="talkList">
                    <div class="detailList">
                        <h5>经典的麻婆豆腐</h5>
                        <img src="images/9.jpg">
                        <h5 class="float1">来自<i>美食圈</i></h5>
                    </div>
                </div>
            </ion-list>
        </div>
        <div class="card card3">
            <ion-list>
                <ion-item class="item-avatar-left">
                    <img src="images/10.jpg">
                    <h3>清晰的爱</h3>
                    <p>今天</p>
                </ion-item>
                <div class="talkList">
                    <div class="detailList">
                        <h5>怀念麻麻做的红烧肉</h5>
                        <img src="images/10.jpg">
                        <h5 class="float1">来自<i>大众点评</i></h5>
                    </div>
                </div>
            </ion-list>
        </div>

    </ion-content>
</ion-view>