<ion-view view-title="菜谱--客家麻婆豆腐">
    <ion-header-bar id="detailtitle">
        <button class="button button-clear button-energized" ui-sref="tabs.home">
            <i class="icon ion-ios-arrow-back"></i> 后退
        </button>
        <h4 class="title">菜谱--客家麻婆豆腐</h4>
    </ion-header-bar>
    <ion-content id="detailcontent">
        <div class="card">
            <div class="cardinset">
                <img src="images/60.jpg">
                <h4>客家麻婆豆腐#豆果魔兽季联盟#</h4>
                <p>这是我最喜欢的美食之一，如果你也喜欢不妨试试看，亲自动手去完成这道美味是很不错的一件事</p>
            </div>
                <ion-item class="detailtime">
                    时间：30-50分钟     难度：初级
                </ion-item>
        </div>
        <div class="card">
                <ion-item class="detailtime">
                    <i class="icon ion-home"></i>材料
                </ion-item>
            <div class="cailiao detailtime">
                <ion-item class="bacg"><p><i>豆腐</i>         <a>200克</a></p></ion-item>
                <ion-item><p><i>牛肉馅</i>       <a>100克</a></p></ion-item>
                <ion-item class="bacg"><p><i>青蒜</i>         <a>15克</a></p></ion-item>
                <ion-item><p><i>豆瓣酱</i>       <a>20克</a></p></ion-item>
                <ion-item class="bacg"><p><i>豆豉</i>         <a>10克</a></p></ion-item>
                <ion-item><p><i>姜</i>           <a>10克</a></p></ion-item>
                <ion-item class="bacg"><p><i>辣椒粉</i>       <a>0.5克</a></p></ion-item>
                <ion-item><p><i>花椒粉</i>       <a>1.5克</a></p></ion-item>
                <ion-item class="bacg"><p><i>油</i>           <a>5克</a></p></ion-item>
            </div>
        </div>
        <div class="card">
            <ion-item>
                做法
            </ion-item>
            <div class="zuofa">
                <img src="images/80.jpg">
                <p>1、豆腐切约一厘米见方的块，放碗里用沸水烫一下（不能下锅烫煮）后沥干水份，将豆瓣和酱油装一个碗里，蒜苗切碎，豆豉用刀压成茸或剁成细末，将淀粉、味精放一个碗里加水兑成芡汁。</p>
                <img src="images/81.jpg">
                <p>2、锅中放油烧至六成热，倒入肉末炒散炒熟后起锅装碗里待用。</p>
                <img src="images/82.jpg">
                <p>3、锅中放油烧到六成热，放豆瓣酱油、辣椒粉、豆豉炒红炒香。</p>
                <img src="images/83.jpg">
                <p>4、加半碗汤（水也可），烧沸后放豆腐、肉末烧三、四分钟。</p>
                <img src="images/84.jpg">
                <p>5、放蒜苗，烧半分钟后勾芡，放红油。</p>
                <img src="images/85.jpg">
                <p>6、起锅后撒上花椒粉即可上桌开吃。</p>
            </div>
        </div>
    </ion-content>
</ion-view>