<ion-view view-title="wellcom to lichao's app" id="view-icon">
    <!--<ion-nav-buttons side="right">-->
        <!--<button class="button button-clear" ng-if="config.enter" ui-sref="tabs.home">进入</button>-->
    <!--</ion-nav-buttons>-->
    <!--<ion-nav-buttons side="right">-->
        <!--<button class="button button-clear" ui-sref="home">进入</button>-->
    <!--</ion-nav-buttons>-->
    <!--<ion-content>-->
    <!--on-slide-changed="slideChanged()"-->
        <ion-slide-box id="slideimg2">
            <ion-slide class="slide1">
                <img src="images/112.jpg">
                <p class="slidep1">右滑了解更多》》</p>
            </ion-slide>
            <ion-slide class="slide2">
                <img src="images/111.jpg">
                <p class="slidep2">右滑了解更多》》</p>
            </ion-slide>
            <ion-slide class="slide3">
                <img src="images/113.jpg">
                <a class="slidep3" ui-sref="tabs.home">进  入</a>
            </ion-slide>
        </ion-slide-box>
    <!--</ion-content>-->
</ion-view>