<ion-view view-title="我的">
    <ion-header-bar class="icon-right contact1">
        <a class="button button-clear button-assertive">联系客服</a>
        <h3 class="title">我的</h3>
        <a class="button button-clear button-icon ion-ios-email-outline button-assertive"></a>
    </ion-header-bar>
    <ion-content class="has-header" id="personlogin">
        <div class="card" id="personcard">
            <ion-item class="item-avatar-left">
                <img src="images/40.jpg">
                <h3><span><a>点击登录</a></span><a>登录享优惠</a></h3>
            </ion-item>
            <div class="row icon-top mylist">
                <a class="col"><i class="icon ion-ios-personadd positive"></i><p>我的点评</p></a>
                <a class="col col2"><i class="icon ion-android-star energized"></i><p>我的收藏</p></a>
                <a class="col" ><i class="icon ion-ios-pricetag assertive"></i><p>我的优惠券</p></a>
            </div>
        </div>
        <ion-list class="card card2">
            <ion-item><p><span><i class="icon ion-ios-paper-outline"> 我的订单</i></span><a> ></a></p></ion-item>
            <ion-item><p><span><i class="icon ion-android-drafts"> 我的钱包</i></span><a> ></a></p></ion-item>
            <ion-item><p><span><i class="icon ion-ios-box-outline"> 我的卡券</i></span><a>抵用券/现金券 ></a></p></ion-item>
            <ion-item><p><span><i class="icon ion-podium"> 我的积分</i></span><a>小任务 大积分 ></a></p></ion-item>
        </ion-list>
        <ion-list class="card">
            <ion-item>
                <p><span><i class="icon ion-android-textsms"> 待点评</i></span><a> ></a></p>
            </ion-item>
        </ion-list>
        <ion-list class="card">
            <ion-item>
                <p><span><i class="icon ion-ios-people"> 好友去哪</i></span><a> ></a></p>
            </ion-item>
        </ion-list>
        <ion-list class="card">
            <ion-item>
                <p><span><i class="icon ion-ios-clock-outline"> 最近浏览</i></span><a> ></a></p>
                </ion-item>
            <ion-item>
                <p><span><i class="icon ion-ios-gear-outline"> 设置</i></span><a>发现新版本 ></a></p>
            </ion-item>
        </ion-list>
        <ion-list class="card">
            <ion-item>
                <p><span><i class="icon ion-ios-filing-outline"> 我是商家</i></span><a> ></a></p>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>